<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <meta name="description" content=""/>
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="~/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="~/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="~/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="~/css/reset.css" rel="stylesheet" />
    <link href="~/css/style.min.css" rel="stylesheet" />
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__row">
                <div class="header__logo">
                    <a href="/Toys/List" class="header__logo-link">
                        <img class="header__logo-pic" src="/img/logo.png" alt="Johannes Shell Store">
                    </a>
                </div>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item">
                            <a href="/" class="header__link">Главная</a>
                        </li>
                        <li class="header__item">
                            <a class="header__link" asp-controller="Toys" asp-action="List">Магазин</a>
                        </li>
                        <li class="header__item">
                            <a href="/ToyShopCart/" class="header__link">Корзина</a>
                        </li>
                        <li class="header__item">
                            <a class="header__link" asp-controller="Order" asp-action="Checkout">Оформление заказа</a>
                        </li>                        
                    </ul>
                    <div class="header__nav-close">
                        <span class="header__nav-close-line"></span>
                        <span class="header__nav-close-line"></span>
                    </div>
                </nav>
                <div class="header__burger burger">
                    <span class="burger__line burger__line_first"></span>
                    <span class="burger__line burger__line_second"></span>
                    <span class="burger__line burger__line_third"></span>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="intro">
            <div class="container">
                <h1 class="intro__title">Магазин деревянных игрушек</h1>
                <p class="intro__subtitle">
                    Игрушки ручной работы
                </p>
            </div>
        </div>
        <section id="shop" class="store">
            <div class="store__wrapper">                   
                <div class="store__cards">
                    @RenderBody()
                </div>
            </div>
        </section>
        <section class="about">
        </section>
        <footer class="footer">
            <span class="footer__text">
                <a class="footer__link">Johannes Shell TOYS © Все права защищены</a>
            </span>
        </footer>
    </main>
    <script src="~/js/script.js"></script>
</body>
</html>
