<div class="store__title">
    <ul class="store__list">
        <li class="store__category">
            <a class="store__cat-link" href="/Toys/List">Все игрушки</a>
        </li>
        <li class="store__category">
            <a class="store__cat-link" href="/Toys/List/quiet">Спокойная игра</a>
        </li>
        <li class="store__category">
            <a class="store__cat-link" href="/Toys/List/active">Активная игра</a>
        </li>
    </ul>
</div>
