<h2>Все игрушки</h2>
<h3>@Model.currCategory</h3>
@{
    foreach(var toy in Model.allToys) {
        <div>
            <h3>Название: @toy.name</h3>
            <img src="@toy.img" />
            <p>Цена: @toy.price.ToString("c")</p><br>
        </div>
    };
}

