@{
    foreach(var toy in Model.allToys) {
        <div>
            <h3>@toy.name</h3>
            <div class="store__card">
                <img class="store__card-pic" src="@toy.img" alt="@toy.name"/>
            </div>
            
            <p>Цена: @toy.price.ToString("c")</p><br>
        </div>
    };
}

