/* Fonts start */
/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* Fonts end */

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000;    
}

*,*::before, *::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
   
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header styles start */
.header {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    z-index: 10;
    transition: .3s all;
}
    .header-active {
        background: #fff;        
    }

    .header-active .header__link{
        color: #000;
    }


    .header__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__logo {
        width: 200px;
    }

    .header__nav {
        display: flex;    
    }

    .header__list {
        display: flex;       
    }

    .header__item {    
        margin-right: 40px;
    }

    .header__link {
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        transition: .5s all;
    }
        .header__link:hover, .header__link:active, .header__link:focus {
            color: blue;
        }
    .header__nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }

    .header__nav-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
    }
        .header__nav-close-line:first-child {
            transform: translateY(-50%) rotate(45deg);
        }

        .header__nav-close-line:last-child {
            transform: translateY(-50%) rotate(-45deg);
        }
    .header__burger {
        display: none;
        width: 40px;
        height: 28px;
        position: relative;
    }

    .burger__line {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background: black;
        left: 0;
    }

    .burger__line_first {
        top: 0;
    }

    .burger__line_second {
        top: 50%;
        transform: translateY(-50%)
    }

    .burger__line_third {
        bottom: 0;
    }

/* Header styles end */

/*Main styles start*/
.main {
   
}    
/*Main styles end*/

/* Intro styles start */
.intro {
    min-height: 100vh;
    padding-top: 263px;
    padding-bottom: 376px;
    background: url(../img/screen.jpg) no-repeat center;
    background-size: cover;
}   
    .intro__title {
        max-width: 619px;
        font-weight: 500;
        font-size: 3.5rem;
        line-height: 4.3rem;
        color: white;
        margin-bottom: 22px;
    }

    .intro__subtitle {
        max-width: 546px;
        color: white;
        font-size: 1.2rem;
        line-height: 1.8rem;
        margin-bottom: 59px;
    }

/* Intro styles end*/

/* Store style start*/
.store {
    width: 100%;
    position: relative;    
}
    .store__container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;        
    }

    .store__title {
        width: 100%;
        padding: 30px;
        font-size: 1.5rem;
        line-height: 2.2rem;
        font-weight: 700;
        background-color: #fff;
        color: #000;
        margin-bottom: 30px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        border-radius: 10px 10px 0 0;
        border: 3px solid #fff;
    }

    .store__category {
        margin-right: 30px;          
    }

    .store__cat-link {
        text-decoration: none;
        color: #000;       
    } 

    .store__list {
        display: flex;
        justify-content: start;        
    }

    .store_active {
        color: blue;
    }

    store__list .store__category:nth-child(1) a{
        color: blue;
    }

    .store__cat-link:hover, .store__cat-link:active, .store__cat-link:focus {
        color: blue;        
    }

    .store__wrapper {
        max-width: 1400px;
        margin: 0 auto;
        padding: 30px 15px;
        box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);        
        position: relative;
        margin-bottom: 50px;
        background-color: #fff;       
    }

    .store__cards {
        display: grid;        
        grid-template-columns: repeat(6, 1fr);
        column-gap: 57px;
        grid-row-gap: 57px;
    }

    .store__card {        
        grid-column: span 2;
        display: flex;        
        flex-direction: column;        
        justify-content: space-between
    }
      

    .card-pic {
        width: 100%;
        object-fit: cover;
    }
/* Store style end*/

/* About style start*/
.about {
    width: 100%;
    height: 100vh;
    background: url(../img/about.gif) no-repeat center;
    background-size: cover;
}
/* About style end*/

/*Footer style start*/
.footer {
    width: 100%;
    height: 100px;
    background-color: #323437;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__text {
    font-size: 2rem;
    color: #3c4858;
}
   
/*Footer style end*/