@model Order


<div class="store__order store__order_center">
    <h3 class="store__order-title">Оформление заказа</h3>
    <form class="store__order-form store__order_center" asp-action="Checkout" method="post">
        <div class="store__order-group">
            <label class="store__order-label" asp-for="Name"></label>
            <div class="store__order-row store__order_center">
                <input class="store__order-input" asp-for="Name" />
                <span class="store__order-danger" asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="store__order-group">
            <label class="store__order-label" asp-for="Surname"></label>
            <div class="store__order-row store__order_center">
                <input class="store__order-input" asp-for="Surname" />
                <span class="store__order-danger" asp-validation-for="Surname"></span>
            </div>
        </div>
        <div class="store__order-group">
            <label class="store__order-label" asp-for="Adress"></label>
            <div class="store__order-row store__order_center">
                <input class="store__order-input" asp-for="Adress" />
                <span class="store__order-danger" asp-validation-for="Adress"></span>
            </div>
        </div>
        <div class="store__order-group">
            <label class="store__order-label" asp-for="Phone"></label>
            <div class="store__order-row store__order_center">
                <input class="store__order-input" asp-for="Phone" />
                <span class="store__order-danger" asp-validation-for="Phone"></span>
            </div>
        </div>
        <div class="store__order-group">
            <label class="store__order-label" asp-for="Email"></label>
            <div class="store__order-row store__order_center">
                <input class="store__order-input" asp-for="Email" />
                <span class="store__order-danger" asp-validation-for="Email"></span>
            </div>
        </div>
        <input class="store__order-btn" type="submit" value="Завершить заказ" />
    </form>
</div>