@model HomeViewModel
<div class="bestseller">
    <img class="bestseller__img" src="~/img/best-seller.png" alt="best sellers" />
</div>
@{
    foreach (Toy toy in Model.favToys)
    {
        @Html.Partial("AllToys", toy)
        
    };
}